:root {
  --dark-indigo: #114378;
  --mid-indigo: #16538c;
  --light-indigo: #bad7e1;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-indigo);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/indigo1b.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-indigo);
  padding: 280px 20px 280px;
}
p {
  font-family: "Poppins", sans-serif;
  color: var(--light-indigo);
}

header h1 {
  display: block;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 170px;
  margin: 0;
}

header h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 32px;
  margin: 0;
}

header h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  color: var(--light-indigo);
  text-decoration: none;
  padding: 16px 32px;
  background: var(--mid-indigo);
  border-radius: 100px;
  font-size: 16px;
}

.aboutrmgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: var(--dark-indigo);
  background: var(--light-indigo);
}
.aboutrmgrid img {
  max-width: 100%;
}
.aboutimg {
  display: flex;
  align-items: center;
}
.aboutinfosection {
  color: var(--dark-indigo);

  padding: 100px 50px 50px;
}

.aboutinfosection h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
}
.aboutinfosection h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 1.3;
}

.aboutinfosection p {
  color: var(--mid-indigo);
  font-size: 16px;
  line-height: 1.5;
}

.fullcontainer {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/foooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-indigo);
}

.footgrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  padding: 100px 50px 70px 50px;
}

footer .footsectiontitle {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
footer ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1;
}

footer a {
  display: block;
  color: var(--light-indigo);
  padding: 10px;
  font-size: 12px;
  line-height: 1;
  padding-left: 0;
}

footer p {
  font-size: 12px;
  line-height: 1.3;
}

@media (max-width: 900px) {
  header {
    padding: 80px 20px 80px;
  }

  header h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  header h2 {
    font-size: 25px;
    line-height: 1.5;
  }
  header h3 {
    font-size: 15px;
    line-height: 1;
  }

  .aboutrmgrid {
    grid-template-columns: 1fr;
  }

  .aboutinfosection {
    color: var(--dark-indigo);

    padding: 50px 20px 20px;
  }

  .aboutinfosection h3 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    line-height: 1;
    margin: 0;
  }
  .aboutinfosection h2 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 1;
  }

  .aboutinfosection p {
    color: var(--mid-indigo);
    font-size: 14px;
    line-height: 1.1;
  }

  .footgrid {
    grid-template-columns: 1fr;
  }
}
